* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-prymary: #061d3b;
}

body {
    background-color: var(--color-prymary);
    font-family: Arial, sans-serif;
    counter-reset: numberActivity;
    -webkit-font-smoothing: antialiased;
    background-color: #051933;
}

body::after{
    display: block;
    top: 0;
    right: 0;
    background-image: url('../imagens/luz-baixo.png');
    
}

body::before{
    top: 50%;
    background-image: url('../imagens/luz-cima.png');
    filter: blur(50px);
}

body::after, body::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    height: 45.1em;
    width: 37.25em;
    background-size: contain;
    z-index: -1;

}

header {
    border-top: 4px solid #2A7AE4;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 0.78rem;
    font-weight: 500;
    background-color: #051933;
    height: 75px;
}

#imagem_logo {
    margin-right: 775px;
    margin-top: -8px;
}

header p {
    letter-spacing: -0.60px;
    font-weight: 600;
}

#matricule {
    background-color: #a3ffbf;
    border-radius: 20px;
    width: 160px;
    margin-right: 20px;
    color: black;
    height: 37px;
    font-size: 0.8rem; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#matricule p{
    letter-spacing: .5px;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#login-form {
    margin-top: 3%;
    margin-left: 12%;
    position: relative;
    color: white;
    border: 0.5px solid #167bf7;
    display: flex;
    overflow: hidden;
    background: rgba(9,51,102,.4);
    flex-direction: column;
    width: 460px;
    border-radius: 5px;
    height: 530px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 35px
}

#login-form h2 {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 2rem;

}

#login-form::before{
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../imagens/luz-form.png');
    background-repeat: no-repeat;
    height: 45.1em;
    width: 37.25em;
    background-size: contain;}

#login-form p {
    font-size: 0.9rem;
}

#login-form p,
a {
    margin: 0px;
    font-weight: 100;
    color: white;
}

input {
    width: 97%;
    background: #051933;
    border: 1px solid #051933;
    border-radius: 5px;
    height: 45px;
    margin: 5px 0px;
    color: white;
    padding-left: 10px;
}

input:focus-visible {
    outline: 2px solid #2a7ae4
}

label {
    text-align: left;
    font-weight: 700;
    font-size: 1rem;

}

#entrar {
    width: 98%;
    background-color: #a3ffbf;
    border-radius: 40px;
    height: 50px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
}

.container-entrar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;

}

.entrar-com {
    width: 47%;
    background: transparent;
    color: white;
    border-radius: 20px;
    height: 50px;
    font-size: 0.9rem;
    font-weight: bold;
}

#btn-facebook {
    border: 1px solid #325baa;
}

#btn-google {
    border: 1px solid #db4a39;
}

a {
    margin-top: 30px;
    font-size: 0.9rem;
}

.tecnologias {
    margin-left: 5%;
    margin-top: 2%;
    color: white;
}

.tecnologias h1 {
    font-size: 2rem;
    font-family: Open Sans, sans-serif;
    font-weight: 800;
    letter-spacing: -.7px;
    margin-top: 3%;
}

.tecnologias p {
    margin-top: 0px;
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 30px;
}

.container-cartoes {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    margin-right: 300px;
    margin-right: 12%;
    gap: 5px 10px;

}

.card {
    padding: 20px;
    width: 21%;
    border-radius: 10px;
    border: .03em solid #0d4d9c;
    background-color: #051d3b;
}

.card p {
    margin-bottom: 0px;
    padding-right: 10px;
}

.texto-escola {
    font-size: .75rem !important;
    color: #00c86f;
}

.texto-cursos {
    color: #00c86f;
    font-size: .8125rem !important;
    font-weight: 700 !important;
    text-align: left;
}

.texto-descricao {
    font-size: 0.75rem !important;
    margin-top: 20px !important;
    line-height: 1.8;
}

.imagem-container {
    padding-right: 30px;
    width: 87%;
    height: 290px;
    margin-top: 10px;
    margin-left: -1.1%;
    display: flex;
    flex-direction: column;
    background-image: url('../imagens-login/nao-estudou.png');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
}

.imagem-container h1 {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: -1.50px;
}

.imagem-container p {
    font-size: 1.5rem;
}

#btn-matricule-se {
    width: 40%;
    background-color: #ffffff;
    border-radius: 40px;
    height: 50px;
    border: none;
    color: #167bf7;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 70px;
}

.faixa-pre-footer {
    background: linear-gradient(73deg, #093366, #093366), #051d3b;
    width: 100%;
    height: 10.5em;
    margin-top: -10.5em;
}

.faixa-footer{
    width: 100%;
    height: 25px;
}

.linha {
    width: 75%;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 30px;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #051933;
    margin-top: 30px #051933;
}

footer img {
    margin-top: -75px;
    margin-right: 3%;
}

.footer-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer ul {
    list-style: none;
    color: white;
    font-size: 0.76rem;
    line-height: 25px;
    width: 300px;
    margin-bottom: 20px;
}

footer a {
    margin-top: -90px;
    text-decoration: none;
    width: 200px;
    font-size: 0.76rem;
}

.acompanhe {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.acompanhe h6 {
    margin-left: 7px;
    margin-top: -30px;
    font-size: 0.8rem;
    color: white;
}

.logos {
    margin-top: 10px;
    display: flex;
}

.logo {
    height: 45px;
    padding: 0px;
    margin: 2px;
}

#acompanhe2 {
    margin-left: 2%;
}
